/* 640-768px ~ mobile landscape / tablet portrait */
@media (min-width: 40.5em) {
	#page {	margin-left: 0; }

	#nav {
		left: 0;
		padding-left: 2.5em;
	}

	.post { padding: 2em 0; }
	.post-content { padding-left:1.5em; }

	#gallery img {
		margin: 0 .4em .8em 0;
		width: 30.5%;
	}
	#lbox img {
	  max-width: 600px;
	}

	#contact-form input[type="text"],
	#contact-form textarea {
		width: 380px;
	}
}

/* 768-1024px ~ tablet landscape */
@media (min-width: 48.5em) {
	#content { margin-right:2.2em; }
	.post { padding: 2.5em 0; }
	.post-content { padding-left:2em; }

	#lbox-prev, #lbox-next {
		font-size: 40px;
		padding: 100px 14px;
		margin: 0px 10px;
	}
	#lbox img {
	  max-width: 940px;
	}
}

@media (min-width: 55em) {
	#gallery img {
		margin: 0 .5em .8em 0;
		width: 22.5%;
	}
}

/* full size */
@media (min-width: 70em) {
	#content { margin-right:12.5em; }
	.post-content { padding-left:2.5em; }

	#settings {
		right: -155px;
		border-top-width: 0;
		border-bottom-width: 0;
		box-shadow: none;
	}

	#settings-btn {
		background-color: transparent;
		width: 85px;
		left: -86px;
		padding: 0px;
		border-left: none;
		border-top: none;
		box-shadow: none;
	}
	#settings-btn.active {
		transform: rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		left: -53px;
	}
}
