/* 640-768px ~ mobile landscape / tablet portrait */
@media (min-width: 40.5em) {
	#page {	margin-left: 0; }

	#nav {
		left: 0;
		padding-left: 2.5em;
	}

	.post { padding:1.5em 0; }
	.post-content { padding-left:1.5em; }
}

/* 768-1024px ~ tablet landscape */
@media (min-width: 48.5em) {
	#content { margin-right:2.2em; }
	.post { padding:2em 0; }
	.post-content { padding-left:2em; }
}

/* full size */
@media (min-width: 70em) {
	#content { margin-right:12.5em; }
	.post { padding:2.5em 0; }
	.post-content { padding-left:2.5em; }

	#settings {
		right: -155px;
		border-top-width: 0;
		border-bottom-width: 0;
		box-shadow: none;
	}

	#settings-btn {
		background-color: transparent;
		width: 85px;
		left: -87px;
		padding: 0px;
		border-left: none;
		border-top: none;
		box-shadow: none;
	}
	#settings-btn.active {
		transform: rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		left: -54px;
	}
}
